.container {
  width: 100%;
  height: 100%;
  margin: 0;
  //overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
}

.title .text1 {
  transform: matrix(1, -0.03, 0.03, 1, 0, 0);
  text-align: center;
  background: #0EB24E;
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 37px;
  line-height: 118.6%;
  text-transform: uppercase;
  color: #191747;
  padding: 5px;
  margin-right: 10px;
}

.title .text2 {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 118.6%;
  text-transform: uppercase;
  color: #ffffff;
}

#btns{
  display: flex;
}

.btn {
  width: 248px;
  height: 64px;
  background: #FFFFFF;
  outline: none;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 20px;
}

.btn:hover {
  background: #0EB24E;
  color: white;
}

